body {
    background-color: #FFF9E3;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}

#container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
}